{% include 'base.html' %}
{% include 'navigation.html' %}

{% block content %}
<section class="page-section">
    <div class="container">
        <h1 class="text-center page-heading">À propos de nous</h1>
        <div class="row align-items-center">
            <div class="col-lg-5 mb-4 mb-lg-0">
                <h2 class="strong mb-3">Qui sommes-nous et <br>que faisons-nous ?</h2>
                <p class="page-copy mb-0">Un hôpital de référence dédié à la qualité des soins aux patients.</p>
            </div>
            <div class="col-lg-7">
                <p class="page-copy">Le système de gestion hospitalière (HMS) est un logiciel intégré qui prend en charge les différents flux de travail d'un établissement de santé. Il facilite la continuité des soins tout en accompagnant les aspects administratifs, médicaux, juridiques et financiers.</p>
                <p class="page-copy mb-0">Le système peut intégrer un large éventail de fonctionnalités. Son objectif principal est de simplifier les procédures et de répondre aux besoins des patients, du personnel et de l'administration hospitalière.</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="site-heading text-center p-4">
                    <h3>Notre équipe</h3>
                    <p class="page-copy mb-0">Notre équipe met à profit l'expertise acquise au fil de nombreux projets pour répondre à vos défis techniques et médicaux les plus exigeants.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% include 'footer.html' %}
