# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env
.env.*

# Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test / cache
.pytest_cache/
.coverage
htmlcov/